article {
  max-width: 600px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
section {
  padding: 0 50px;
  border: 0px;
  margin: 0px;
  min-height: 100%;
}

.fas {
  float: right; 
  color:green;
}

.btn {
  background-color: transparent; 
  border: none;
  display:none; 
}

#shopping-cart {
  margin-left:95.5%;
  height: 3em;
}

.header {
  padding-bottom: 15px;
  font-size: 65px;
  padding: 0px;
  text-align: center;
}

.right {
  float: right;
  padding: 18px 0 0 0;
}

.left {
  float: left;
  padding: 18px 0 0 0;
}

span > img {
  height: 15%;
  width: 15%;
} 

.subTitle {
  font-size: 28px;
  font-style: italic;
  padding-bottom: 20px;
}

.operation {
  border-style: solid;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
  background: #ccc;
  color: #000;
}

.address {
  padding-bottom: 10px;
}

.address :firstchild(1) {
  font-style: italic;
}


h1 {
  text-align: center;
  padding-bottom: 15px;
  margin: 0px;
  border: 0px;


}

.menu {
  box-shadow: 5px 5px 5px 5px #888888;
  padding: 10px;
  margin-bottom: 20px;
  background: #ccc;
  color: #000;
}

.heavy {
  font-weight: 700;
}

h1 {
  font-size: 36px;
  color: brown;
}

.in-cart {
  width:35%;
  background-color: green;
  border: none;
  height: 35px;
  float: inline-end;
  font-size: larger;
  color: white;
}


.order {
  width:35%;
  background-color: transparent;
  border: dotted;
  height: 35px;
  float: inline-end;
  font-size: larger;
  color:black;
}

.cart {
  padding: 20px;
  font-size: 24px;
  text-align: left;
  background: #ccc;
  color: #000;
}

.cart-item-name, .heavy {
  text-align: left;
  color: brown;
}

.qty {
  width: 60px;
  font-size: 18px;
  text-align: left;
}

.cart-price, .cart-total {
  width: 150px;
  float: right;
  text-align: right;
  background-color: white;

}

.cart-total {
  float:right;
}

.cart-total-label {
  text-align: left;
}



hr {
    border: none;
  border-top: 3px dotted;
}



.item {
 padding: 10px;
 text-align: left
}

.menuName {
  font-size: 30px;
  font-weight: bold;
  color: brown;
}

.menuDetail, .menuPrice {
  font-size: 25px;
}

.menuPrice { 
  color: green;
  text-align: right;
 }

 .buttons {
   padding: 25px;
   text-align: center;
 }

 .button{
 height: 45px;
 width: 200px;
 font-size: 24px;
  
}

#foot {
    padding: 40px 0;
  }

