#tacoContainer {
  flex-direction: row;
  padding: 10px 50px 50px 50px;
  background-color: #faeba0;
  border-style: double;
}

#header {
  padding-bottom: 75px;
  font-size: 65px;
  text-align: center;
}

h1 {
  text-align: center;
}

#operation {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 25px;
  background: #ccc;
  color: #000;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
  background: #ccc;
  color: #000;
}
 
.menu>* {
  flex: 1 1 500px;
}

.item {
 padding: 10px;
}

.menuName {
  font-size: 30px;
  font-weight: bold;
  color: brown;
}

.menuDetail, .menuPrice {
  font-size: 25px;
}

.menuPrice { 
  color: green;
  text-align: right;
 }

#subTitle {
  font-size: 2rem;
  font-style: italic;
}