/* Style rules go here */

body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
@media print {
  nav { display: none; }
}
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-transform: uppercase;

}

li { padding-right: 24px; }

header { text-align: center; }

.widget {
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  width: 30%;
}

h4 {
  float: left;
  text-align: center;
  font-size: 14px;
  padding: 0px;
  margin: 0px 20px 0px;
  border: 0px;
}

#city {
  float: left;
  padding: 0px;
  margin-top: 8px;
  width: 40%;
  font-size: 12px;
}

img { 
  display: inline-block;
  width: 500px;
}

.icon {
  margin-top: 9px; 
  float:inline-start;
  color: yellow;
  background-color:blue;
}

.temps {
  float: right;
  margin-left: 20px;
}

th {
  margin-top: 5px;
}
td {
  margin-left: auto;
  margin-right: auto;

  width: 15px;
}

.strong {
  font-weight:bold;
}

article img {
  width: 100%;
  /* box-shadow: 4px 4px 4px #CCC; */
}
article {
  margin-right: auto;
  margin-left: auto;
  flex-basis: 30%;
  border-right: solid 2px #CCC; 
  padding-right: 16px;
}

/* Flexbox model of flow */
#container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  ul, #container { display: block; }
}
