article {
  max-width: 600px;
}

section {
  padding: 0 50px;
  border: 0px;
  margin: 0px;
  min-height: 100%;
}

.fas {
  float: right; 
  color:green;
}

.btn {
  background-color: transparent; 
  border: none;
  display:none; 
}

#shopping-cart {
  margin-left:95.5%;
  height: 3em;
}

#header {
  padding-bottom: 65px;
  font-size: 65px;
  text-align: center;
}

h1 {
  text-align: center;
}

#operation {
  border-style: solid;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 25px;
  color: #000;
}

#menu {
  padding: 10px;
  color: #000;
}
h1 {
  font-size: 36px;
  color: brown;

}

.in-cart {
  width:35%;
  background-color: green;
  border: none;
  height: 35px;
  float: inline-end;
  font-size: larger;
  color: white;
}


.order {
  width:35%;
  background-color: transparent;
  border: dotted;
;
  height: 35px;
  float: inline-end;
  font-size: larger;
  color:black;
}

.item{
 padding: 10px;
}

.menuName {
  font-size: 30px;
  font-weight: bold;
  color: brown;
}

.menuDetail, .menuPrice {
  font-size: 25px;
}

.menuPrice { 
  color: green;
  text-align: right;
 }

#subTitle {
  font-size: 2rem;
  font-style: italic;
}

#foot {
    padding: 40px 0;
  }

