/* Style rules go here */

body {
  width: 960px;
  margin: 24px auto;
}
@media print {
  nav { display: none; }
}
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-transform: uppercase;
}

li { padding-right: 24px; }

header { text-align: center; }
img { width: 500px; }

article img {
  width: 100%;
  box-shadow: 4px 4px 4px #CCC;
}
article {
  flex-basis: 30%;
  border-right: solid 2px #CCC;
  padding-right: 16px;
}

/* Flexbox model of flow */
#container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  ul, #container { display: block; }
}
