body {
  width: 75%;
  margin: 24px auto;
}

#my-head { 
  font-size: 32px;
  font-weight: bold;
  text-align: center; 
  font-family: "Arial";
}

/* Flexbox model of flow */
#container {
  padding: 20px 0px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  row-gap: 15px;
}

.qtr {
  width: 45%;

}

.my-photo {
  width: 90%;

}

.ridge {
  border: ridge #993636 20px;
}

.groove {
  border: groove #20ce68 20px;
}

.plain {
  margin-left: auto;
}

.out {
  border-width: 20px;
  border-radius: 5% 5% 5% 5%;
  border-style: outset; 
  border-color:burlywood
}

#foot {
  text-align: center;
  padding-top: 15px;
}
